.mascota-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.mascota-imagen {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


